---
import "../styles/global.css";
import CambiarAModoOscuro from '../components/CambiarAModoOscuro.svelte';
---
<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>Mi CV</title>
        <script is:inline>
            if (localStorage.getItem('theme') === 'dark') {
                document.documentElement.classList.add('dark');
            }
        </script>
    </head>
    <body>
        <div class="fixed top-6 right-6 z-50">
            <CambiarAModoOscuro client:load /> 
        </div>
        <slot />
    </body>
</html>